<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/addons.css" rel="stylesheet">

    <title>{{site.title}}</title>

</head>
<body>
	<div id="Wrap">
		<div class="container">
	      <div class="header">
	        <ul class="nav nav-pills pull-right" id="nav-header">
	          <li><a href="/">Home</a></li>
	          <li><a href="/signup">SignUp</a></li>
	          <li><a href="/about">About</a></li>
	          <li><a href="/contact">Contact</a></li>
	        </ul>
	        <h3 class="text-muted">{{site.name}}</h3>
	      </div>
			<div class="container spacer3">
	    		{{{body}}}
	    	</div>
	    </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">{{site.description}} <a href="{{author.site}}">{{author.name}}</a></p>
      </div>
    </div>

    <script type="text/javascript" src="/components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/components/underscore/underscore.js"></script>
    <script type="text/javascript" src="/components/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

</body>
</html>